.favorite1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btn {
  color: #cb3589;
}
.favorite {
  padding-top: 30px;
  padding-bottom: 30px;
}
.textFavorite {
  color: darkslategrey;
  font-size: 30px;
  padding-top: 150px;
  padding-left: 80px;
}
.hertFavorite {
  display: flex;
  text-align: center;
}
