.containerAboutUs2,
.containerAboutUs3,
.containerAboutUs4,
.containerAboutUs5,
.containerAboutUs6,
.containerAboutUs7 {
  display: flex;
  color: #154444;
  justify-content: unset;
  text-align: center;
  padding: 0 100px 0 100px;
}
.containerAboutUs8 {
  display: flex;
  color: #154444;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 100px 0 100px;
  color: #154444;
}
.containerAboutUs1 {
  text-align: center;
  padding: 20px 100px 50px 100px;
  border: 6px solid #154444;
  border-radius: 80px;
  margin: 100px;
}

.imgAboutUs {
  width: 80%;
}
.bigTextModern1 {
  font-size: 60px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .bigTextModern1 {
    font-size: 40px;
  }
  .containerAboutUs1 {
    padding: 20px 80px 40px 80px;
    margin: 80px;
  }
}
@media (min-width: 480px) and (max-width: 767.98px) {
  .containerAboutUs2,
  .containerAboutUs3,
  .containerAboutUs4,
  .containerAboutUs5,
  .containerAboutUs6,
  .containerAboutUs7,
  .containerAboutUs8 {
    display: flex;
    flex-wrap: wrap;
  }
  .bigTextModern1 {
    font-size: 30px;
  }
  .containerAboutUs1 {
    padding: 20px 50px 20px 50px;
    margin: 60px;
  }
}
@media (min-width: 320px) and (max-width: 479.98px) {
  .containerAboutUs2,
  .containerAboutUs3,
  .containerAboutUs4,
  .containerAboutUs5,
  .containerAboutUs6,
  .containerAboutUs7,
  .containerAboutUs8 {
    display: flex;
    flex-wrap: wrap;
  }
  .bigTextModern1 {
    font-size: 15px;
  }
  .containerAboutUs1 {
    padding: 20px 20px 0px 20px;
    margin: 40px;
  }
}
@media (max-width: 319.98px) {
  .containerAboutUs2,
  .containerAboutUs3,
  .containerAboutUs4,
  .containerAboutUs5,
  .containerAboutUs6,
  .containerAboutUs7,
  .containerAboutUs8 {
    display: flex;
    flex-wrap: wrap;
  }
  .bigTextModern1 {
    font-size: 13px;
  }
  .containerAboutUs1 {
    padding: 20px 5px 0px 5px;
    margin: 30px;
  }
}
